.main {
    width: 100%;
    height: 100%;
    background-color: #16212c;
}

#title{
    position: relative;
    text-align: center;
    font-size: 3em;
    top: 2%;
    color: #b7d3ee;
    font-weight: bold;
}

#detailBox{
    position: relative;
    padding: 30px;
    width: 90%;
    height: 70%;
    left: 50%;
    top:43%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: solid 5px #85a2be;
    background-color: #34495d;
}

#detailBoxHeader{
    background-color: #34495d;
    border: solid 4px #b7d3ee;
    border-radius: 10px;
    padding: 5px;
    color: #b7d3ee;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
}

#refresh{
    position: absolute;
    right: 50px;
    cursor: pointer;
}

#transactionList{ 
    position: relative;
    margin-top: 10px;
    height: 83%;
    border: solid 4px #b7d3ee;
    border-radius: 15px;
    padding: 10px;
}

.transactionHeader{
    width: 98%;
    display: flex;
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    color: #b7d3ee;
}

#refresh:hover{
    animation: refreshSpin 2s linear infinite;
    color: #16212c;
}

@keyframes refreshSpin{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

#productNameHeader{
    width: 50%;
}

#quantityHeader{
    width: 10%;
}

#unitPriceHeader{
    width: 20%;
}

#totalPriceHeader{
    width: 20%;
}

#transactionDetail{
    position: relative;
    height: 70%;
    overflow-y: scroll;
}

#footer{
    position: absolute;
    display: flex;
    bottom: 10px;
    padding: 2px;
    width: 96%;
}

#totalBox{
    position: absolute;
    display: flex;
    font-weight: bold;
    text-align: center;
    width: 40%;
    right: 0px;
    color: #b7d3ee;
}

.footerBtn{
    border: solid 3px #85a2be;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #b7d3ee;
    font-weight: bold;
    background-color: #16212c;
}

#finishBtnDiv > .footerBtn:hover{
    background-color: #b7d3ee;
    color: #16212c;
    border: solid 3px #16212c;
}

#cancelBtnDiv > .footerBtn:hover{
    background-color: #b7d3ee;
    color: #16212c;
    border: solid 3px #16212c;
}


#cancelBtnDiv {
    margin-left: 20px;
}

#total{
    font-size: 2em;
    width: 50%;
}

#totalValue{
    font-size: 2em;
    width: 50%;
}

.modal {
    font-size: 3em;
}

.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
  
.modal > .actions {
    margin: auto;
}
  
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}
  
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

#loading {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}