#transactionListDetail{
    position: relative;
    width: 99%;
    display: flex;
    color: #b7d3ee;
    border: solid 2px #16212c;
}

#productName{
    width: 50%;
    padding-left: 3px;
}

#quantity{
    width: 10%;
}

#price{
    width: 20%;
}

#totalPrice{
    width: 20%;
}

.transactionListItem{
    margin: 2px;
    text-align: center;
    padding: 1px;
    position: relative;
    font-size: 1.7em;
    font-weight: bold;
}

#productName{
    text-align: left;
}